In [130]:
import pandas as pd

In [131]:
dfranking = pd.read_csv("data/games/ranking.csv")
dfgamebox = pd.read_csv("data/games/games_details.csv")
dfgames = pd.read_csv("data/games/games.csv")

/tmp/ipykernel_19790/3784628109.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  dfgamebox = pd.read_csv("data/games/games_details.csv")

In [132]:
dfranking = dfranking.drop(columns=["LEAGUE_ID","SEASON_ID","CONFERENCE","HOME_RECORD","ROAD_RECORD","G","W","L","RETURNTOPLAY"])
dfranking["STANDINGSDATE"] = pd.to_datetime(dfranking["STANDINGSDATE"])

In [133]:
dfranking.head()

      TEAM_ID STANDINGSDATE         TEAM  W_PCT
0  1610612743    2022-12-22       Denver  0.633
1  1610612763    2022-12-22      Memphis  0.633
2  1610612740    2022-12-22  New Orleans  0.613
3  1610612756    2022-12-22      Phoenix  0.594
4  1610612746    2022-12-22  LA Clippers  0.576

In [134]:
dfgames = dfgames[dfgames["SEASON"] > 2019]
dfgames = dfgames.drop(columns=["PTS_home","FG_PCT_home","FT_PCT_home","FG3_PCT_home","AST_home","REB_home","PTS_away","FG_PCT_away","FT_PCT_away","FT_PCT_away","FG3_PCT_away","AST_away","REB_away", "GAME_STATUS_TEXT"])
dfgames["GAME_DATE_EST"] = pd.to_datetime(dfgames["GAME_DATE_EST"])

In [135]:
dfgames.head()

,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,TEAM_ID_away,HOME_TEAM_WINS
0,2022-12-22,22200477,1610612740,1610612759,2022,1610612740,1610612759,1
1,2022-12-22,22200478,1610612762,1610612764,2022,1610612762,1610612764,1
2,2022-12-21,22200466,1610612739,1610612749,2022,1610612739,1610612749,1
3,2022-12-21,22200467,1610612755,1610612765,2022,1610612755,1610612765,1
4,2022-12-21,22200468,1610612737,1610612741,2022,1610612737,1610612741,0

In [136]:
dfranking = dfranking[dfranking["STANDINGSDATE"] >= dfgames["GAME_DATE_EST"].min()]

In [137]:
for s in dfgames["SEASON"].unique():
    first = dfgames[dfgames["SEASON"] == s]["GAME_DATE_EST"].min()
    last = first + pd.Timedelta(days=30)
    print(first,last)
    mask = ~dfranking["STANDINGSDATE"].between(first,last)
    dfranking = dfranking[mask]
    mask2 = ~dfgames["GAME_DATE_EST"].between(first,last)
    dfgames = dfgames[mask2]

2022-09-30 00:00:00 2022-10-30 00:00:00
2021-10-03 00:00:00 2021-11-02 00:00:00
2020-12-11 00:00:00 2021-01-10 00:00:00

In [138]:
dfgames.head()

,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,TEAM_ID_away,HOME_TEAM_WINS
0,2022-12-22,22200477,1610612740,1610612759,2022,1610612740,1610612759,1
1,2022-12-22,22200478,1610612762,1610612764,2022,1610612762,1610612764,1
2,2022-12-21,22200466,1610612739,1610612749,2022,1610612739,1610612749,1
3,2022-12-21,22200467,1610612755,1610612765,2022,1610612755,1610612765,1
4,2022-12-21,22200468,1610612737,1610612741,2022,1610612737,1610612741,0

In [139]:
dfgames.to_csv("dfgames.csv")
dfranking.to_csv("dfranking.csv")

In [140]:
dfgamebox = pd.read_csv("data/games/games_details.csv")

/tmp/ipykernel_19790/1454767176.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  dfgamebox = pd.read_csv("data/games/games_details.csv")

In [141]:
dfgamebox.head()

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,18:06,...,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0
1,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,NaN,31:01,...,6.0,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0
2,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,NaN,21:42,...,1.0,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0
3,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,30:20,...,0.0,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0
4,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,27:44,...,0.0,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0

In [142]:
#Remove some redundant columns
dfgamebox = dfgamebox.drop(["NICKNAME","COMMENT","FG_PCT","FG3_PCT","FT_PCT","REB","PTS","PLUS_MINUS"],axis=1)
dfgamebox.columns

Index(['GAME_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_CITY', 'PLAYER_ID',
       'PLAYER_NAME', 'START_POSITION', 'MIN', 'FGM', 'FGA', 'FG3M', 'FG3A',
       'FTM', 'FTA', 'OREB', 'DREB', 'AST', 'STL', 'BLK', 'TO', 'PF'],
      dtype='object')

In [143]:
len(dfgamebox["GAME_ID"].unique())

26523

In [144]:
len(dfgames)

2623

In [145]:
dfgamebox = dfgamebox[dfgamebox['GAME_ID'].isin(dfgames["GAME_ID"])]

In [146]:
len(dfgamebox["GAME_ID"].unique())

2623

In [147]:
#Load player per game stats
dfplayerpergame = pd.read_csv("data/NBAstats/Player Per Game.csv")
dfplayerpergame.columns

Index(['seas_id', 'season', 'player_id', 'player', 'birth_year', 'pos', 'age',
       'experience', 'lg', 'tm', 'g', 'gs', 'mp_per_game', 'fg_per_game',
       'fga_per_game', 'fg_percent', 'x3p_per_game', 'x3pa_per_game',
       'x3p_percent', 'x2p_per_game', 'x2pa_per_game', 'x2p_percent',
       'e_fg_percent', 'ft_per_game', 'fta_per_game', 'ft_percent',
       'orb_per_game', 'drb_per_game', 'trb_per_game', 'ast_per_game',
       'stl_per_game', 'blk_per_game', 'tov_per_game', 'pf_per_game',
       'pts_per_game'],
      dtype='object')

In [148]:
dfplayerpergame = dfplayerpergame[dfplayerpergame["season"] >= 2015]

In [149]:
#Remove some columns
dfplayerpergame = dfplayerpergame.drop(["lg","tm","g","gs","seas_id","player_id","fg_percent","x3p_percent","x2p_per_game","x2pa_per_game","x2p_percent","e_fg_percent","ft_percent","trb_per_game","pts_per_game","birth_year"],axis=1)
dfplayerpergame.head()

,season,player,pos,age,experience,mp_per_game,fg_per_game,fga_per_game,x3p_per_game,x3pa_per_game,ft_per_game,fta_per_game,orb_per_game,drb_per_game,ast_per_game,stl_per_game,blk_per_game,tov_per_game,pf_per_game
0,2023,A.J. Green,SG,23.0,1,9.5,1.6,3.5,1.3,2.9,0.1,0.1,0.2,0.9,0.6,0.2,0.0,0.3,0.9
1,2023,A.J. Lawson,SG,22.0,1,4.8,1.0,2.0,0.5,1.2,0.1,0.2,0.2,0.6,0.1,0.1,0.0,0.1,0.6
2,2023,A.J. Lawson,SG,22.0,1,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,2023,A.J. Lawson,SG,22.0,1,5.1,1.0,2.1,0.6,1.3,0.1,0.3,0.2,0.6,0.1,0.1,0.0,0.1,0.6
4,2023,Aaron Gordon,PF,27.0,9,30.1,6.5,11.1,1.0,2.6,3.0,4.8,2.4,4.5,3.0,0.8,0.8,1.6,1.9

In [150]:
dfplayerpergame = dfplayerpergame.rename(columns={"season":"SEASON", "player":"PLAYER_NAME", "pos":"POS", "age":"AGE", 
                                "experience":"EXP", "mp_per_game":"MIN", "fg_per_game":"FGM", "fga_per_game":"FGA",
                                "x3p_per_game":"FG3M", "x3pa_per_game":"FG3A", "ft_per_game":"FTM", "fta_per_game":"FTA",
                                "orb_per_game":"OREB", "drb_per_game":"DREB", "ast_per_game":"AST", "stl_per_game":"STL",
                                "blk_per_game":"BLK", "tov_per_game":"TO", "pf_per_game": "PF"})

In [151]:
dfplayerpergame.head()

,SEASON,PLAYER_NAME,POS,AGE,EXP,MIN,FGM,FGA,FG3M,FG3A,FTM,FTA,OREB,DREB,AST,STL,BLK,TO,PF
0,2023,A.J. Green,SG,23.0,1,9.5,1.6,3.5,1.3,2.9,0.1,0.1,0.2,0.9,0.6,0.2,0.0,0.3,0.9
1,2023,A.J. Lawson,SG,22.0,1,4.8,1.0,2.0,0.5,1.2,0.1,0.2,0.2,0.6,0.1,0.1,0.0,0.1,0.6
2,2023,A.J. Lawson,SG,22.0,1,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,2023,A.J. Lawson,SG,22.0,1,5.1,1.0,2.1,0.6,1.3,0.1,0.3,0.2,0.6,0.1,0.1,0.0,0.1,0.6
4,2023,Aaron Gordon,PF,27.0,9,30.1,6.5,11.1,1.0,2.6,3.0,4.8,2.4,4.5,3.0,0.8,0.8,1.6,1.9

In [152]:
len(dfgamebox["PLAYER_NAME"].unique())

778

In [153]:
dfplayerpergame = dfplayerpergame[dfplayerpergame["PLAYER_NAME"].isin(dfgamebox["PLAYER_NAME"].unique())]

In [154]:
len(dfplayerpergame["PLAYER_NAME"].unique())

720

In [ ]:
dfplayerpergame["PLAYER_NAME"]

In [160]:
len(dfgamebox[~dfgamebox["PLAYER_NAME"].isin(dfplayerpergame["PLAYER_NAME"])]["PLAYER_NAME"].unique())

58

In [162]:
for s in dfplayerpergame["SEASON"].unique():
    players = dfgamebox[~dfgamebox["PLAYER_NAME"].isin(dfplayerpergame[dfplayerpergame["SEASON"] == s]["PLAYER_NAME"])]["PLAYER_NAME"].unique()
    for p in players:
        dfplayerpergame[(dfplayerpergame["SEASON"] == s) &]

2023
2022
2021
2020
2019
2018
2017
2016
2015

In [ ]:
dfplayerpergame.head()

In [111]:
dfplayerpergame = dfplayerpergame.groupby(["SEASON","PLAYER_NAME","POS"]).mean()

In [122]:
dfplayerpergame.loc[2016]

,,AGE,EXP,MIN,FGM,FGA,FG3M,FG3A,FTM,FTA,OREB,DREB,AST,STL,BLK,TO,PF
PLAYER_NAME,POS,,,,,,,,,,,,,,,,
Aaron Gordon,PF,20.0,2.0,23.9,3.5,7.4,0.5,1.8,1.7,2.5,2.0,4.5,1.6,0.8,0.7,0.8,2.0
Al Horford,C,29.0,9.0,32.1,6.5,12.8,1.1,3.1,1.3,1.6,1.8,5.5,3.2,0.8,1.5,1.3,2.0
Al-Farouq Aminu,SF,25.0,6.0,28.5,3.6,8.8,1.5,4.3,1.4,1.9,1.2,4.9,1.7,0.9,0.6,1.5,2.1
Alec Burks,SG,24.0,5.0,25.7,4.4,10.8,1.0,2.5,3.4,4.5,0.5,3.0,2.0,0.6,0.1,1.6,2.3
Alex Len,C,22.0,3.0,23.3,3.4,8.0,0.0,0.1,2.2,3.1,2.3,5.3,1.2,0.5,0.8,1.9,2.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wayne Ellington,SG,28.0,7.0,21.3,2.9,7.4,1.3,3.5,0.7,0.8,0.3,2.0,1.1,0.6,0.1,0.6,1.1
Wesley Matthews,SF,29.0,7.0,33.9,4.2,10.9,2.4,6.7,1.6,1.9,0.3,2.7,1.9,1.0,0.2,1.0,2.3
Will Barton,SG,25.0,4.0,28.7,5.2,12.0,1.4,4.0,2.6,3.3,0.7,5.1,2.5,0.9,0.5,1.7,1.8
Willie Cauley-Stein,C,22.0,1.0,21.4,2.9,5.1,0.0,0.0,1.2,1.9,2.0,3.3,0.6,0.7,1.0,0.7,2.2
Zach LaVine,SG,20.0,2.0,28.0,5.3,11.7,1.5,3.9,2.0,2.5,0.3,2.5,3.1,0.8,0.2,1.9,2.4

In [112]:
dfplayerpergame[dfplayerpergame["SEASON"] == 2022]

KeyError: 'SEASON'

In [ ]:
dfgames["HOME_TEAM_WIN_PCT"] = 0
dfgames["AWAY_TEAM_WIN_PCT"] = 0
dfgames["HOME_TEAM_K"] = 0
dfgames["AWAY_TEAM_K"] = 0

In [129]:
dfplayerpergame["SEASON"]

KeyError: 'SEASON'

In [127]:
for index, row in dfgames.iterrows():
    dfgames.at[index,"HOME_TEAM_WIN_PCT"] = dfranking[(dfranking["TEAM_ID"] == row["HOME_TEAM_ID"]) & (dfranking["STANDINGSDATE"] == row["GAME_DATE_EST"])]["W_PCT"].iloc[0]
    dfgames.at[index,"AWAY_TEAM_WIN_PCT"] = dfranking[(dfranking["TEAM_ID"] == row["VISITOR_TEAM_ID"]) & (dfranking["STANDINGSDATE"] == row["GAME_DATE_EST"])]["W_PCT"].iloc[0]
    box = dfgamebox[dfgamebox["GAME_ID"] == row["GAME_ID"]]
    k_score = 0
    for p in box["PLAYER_NAME"]:
        print(p)
        p_pergame = dfplayerpergame.loc[row["SEASON"]-1,p]
        print(p_pergame)
        #dfgames.at[index,"HOME_TEAM_K"] = sum()

Romeo Langford
      AGE  EXP   MIN  FGM  FGA  FG3M  FG3A  FTM  FTA  OREB  DREB  AST  STL
POS
SG   21.0  2.0  15.7  1.2  3.3   0.3   1.0  0.5  0.7   0.7   1.3  0.7  0.3  \

     BLK   TO   PF
POS
SG   0.3  0.6  1.3
Jeremy Sochan

KeyError: 'Jeremy Sochan'