In [282]:
import pandas as pd

In [283]:
dfranking = pd.read_csv("data/games/ranking.csv")
dfgamebox = pd.read_csv("data/games/games_details.csv")
dfgames = pd.read_csv("data/games/games.csv")

/tmp/ipykernel_12711/3784628109.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  dfgamebox = pd.read_csv("data/games/games_details.csv")

In [284]:
dfranking = dfranking.drop(columns=["LEAGUE_ID","SEASON_ID","CONFERENCE","HOME_RECORD","ROAD_RECORD","G","W","L","RETURNTOPLAY"])
dfranking["STANDINGSDATE"] = pd.to_datetime(dfranking["STANDINGSDATE"])

In [285]:
dfranking.head()

      TEAM_ID STANDINGSDATE         TEAM  W_PCT
0  1610612743    2022-12-22       Denver  0.633
1  1610612763    2022-12-22      Memphis  0.633
2  1610612740    2022-12-22  New Orleans  0.613
3  1610612756    2022-12-22      Phoenix  0.594
4  1610612746    2022-12-22  LA Clippers  0.576

In [286]:
dfgames = dfgames[dfgames["SEASON"] > 2019]
dfgames = dfgames.drop(columns=["PTS_home","FG_PCT_home","FT_PCT_home","FG3_PCT_home","AST_home","REB_home","PTS_away","FG_PCT_away","FT_PCT_away","FT_PCT_away","FG3_PCT_away","AST_away","REB_away", "GAME_STATUS_TEXT"])
dfgames["GAME_DATE_EST"] = pd.to_datetime(dfgames["GAME_DATE_EST"])

In [287]:
dfgames.head()

,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,TEAM_ID_away,HOME_TEAM_WINS
0,2022-12-22,22200477,1610612740,1610612759,2022,1610612740,1610612759,1
1,2022-12-22,22200478,1610612762,1610612764,2022,1610612762,1610612764,1
2,2022-12-21,22200466,1610612739,1610612749,2022,1610612739,1610612749,1
3,2022-12-21,22200467,1610612755,1610612765,2022,1610612755,1610612765,1
4,2022-12-21,22200468,1610612737,1610612741,2022,1610612737,1610612741,0

In [288]:
dfranking = dfranking[dfranking["STANDINGSDATE"] >= dfgames["GAME_DATE_EST"].min()]

In [289]:
for s in dfgames["SEASON"].unique():
    first = dfgames[dfgames["SEASON"] == s]["GAME_DATE_EST"].min()
    last = first + pd.Timedelta(days=30)
    print(first,last)
    mask = ~dfranking["STANDINGSDATE"].between(first,last)
    dfranking = dfranking[mask]
    mask2 = ~dfgames["GAME_DATE_EST"].between(first,last)
    dfgames = dfgames[mask2]

2022-09-30 00:00:00 2022-10-30 00:00:00
2021-10-03 00:00:00 2021-11-02 00:00:00
2020-12-11 00:00:00 2021-01-10 00:00:00

In [290]:
for s in dfgames["SEASON"].unique():
    first = dfgames[dfgames["SEASON"] == s]["GAME_DATE_EST"].min()
    print(first)
    print(dfranking[dfranking["STANDINGSDATE"] == first])

2022-10-31 00:00:00
         TEAM_ID STANDINGSDATE           TEAM  W_PCT
780   1610612756    2022-10-31        Phoenix  0.833
781   1610612757    2022-10-31       Portland  0.833
782   1610612762    2022-10-31           Utah  0.750
783   1610612759    2022-10-31    San Antonio  0.714
784   1610612740    2022-10-31    New Orleans  0.667
785   1610612743    2022-10-31         Denver  0.571
786   1610612763    2022-10-31        Memphis  0.571
787   1610612750    2022-10-31      Minnesota  0.571
788   1610612742    2022-10-31         Dallas  0.500
789   1610612760    2022-10-31  Oklahoma City  0.500
790   1610612744    2022-10-31   Golden State  0.429
791   1610612746    2022-10-31    LA Clippers  0.429
792   1610612758    2022-10-31     Sacramento  0.333
793   1610612747    2022-10-31    L.A. Lakers  0.167
794   1610612745    2022-10-31        Houston  0.125
5055  1610612749    2022-10-31      Milwaukee  1.000
5056  1610612739    2022-10-31      Cleveland  0.833
5057  1610612738    2022-10-31         Boston  0.667
5058  1610612737    2022-10-31        Atlanta  0.571
5059  1610612761    2022-10-31        Toronto  0.571
5060  1610612755    2022-10-31   Philadelphia  0.500
5061  1610612752    2022-10-31       New York  0.500
5062  1610612766    2022-10-31      Charlotte  0.429
5063  1610612741    2022-10-31        Chicago  0.429
5064  1610612764    2022-10-31     Washington  0.429
5065  1610612754    2022-10-31        Indiana  0.375
5066  1610612751    2022-10-31       Brooklyn  0.286
5067  1610612748    2022-10-31          Miami  0.286
5068  1610612765    2022-10-31        Detroit  0.250
5069  1610612753    2022-10-31        Orlando  0.143
2021-11-03 00:00:00
          TEAM_ID STANDINGSDATE           TEAM  W_PCT
12210  1610612744    2021-11-03   Golden State  0.857
12211  1610612762    2021-11-03           Utah  0.857
12212  1610612742    2021-11-03         Dallas  0.625
12213  1610612747    2021-11-03    L.A. Lakers  0.625
12214  1610612763    2021-11-03        Memphis  0.625
12215  1610612743    2021-11-03         Denver  0.500
12216  1610612758    2021-11-03     Sacramento  0.500
12217  1610612756    2021-11-03        Phoenix  0.500
12218  1610612746    2021-11-03    LA Clippers  0.429
12219  1610612750    2021-11-03      Minnesota  0.429
12220  1610612757    2021-11-03       Portland  0.375
12221  1610612759    2021-11-03    San Antonio  0.250
12222  1610612745    2021-11-03        Houston  0.143
12223  1610612760    2021-11-03  Oklahoma City  0.143
12224  1610612740    2021-11-03    New Orleans  0.111
14835  1610612748    2021-11-03          Miami  0.857
14836  1610612741    2021-11-03        Chicago  0.750
14837  1610612755    2021-11-03   Philadelphia  0.750
14838  1610612761    2021-11-03        Toronto  0.667
14839  1610612751    2021-11-03       Brooklyn  0.625
14840  1610612752    2021-11-03       New York  0.625
14841  1610612764    2021-11-03     Washington  0.625
14842  1610612766    2021-11-03      Charlotte  0.556
14843  1610612739    2021-11-03      Cleveland  0.556
14844  1610612737    2021-11-03        Atlanta  0.500
14845  1610612749    2021-11-03      Milwaukee  0.500
14846  1610612738    2021-11-03         Boston  0.375
14847  1610612754    2021-11-03        Indiana  0.333
14848  1610612753    2021-11-03        Orlando  0.222
14849  1610612765    2021-11-03        Detroit  0.143
2021-01-11 00:00:00
          TEAM_ID STANDINGSDATE           TEAM  W_PCT
20790  1610612747    2021-01-11    L.A. Lakers  0.727
20791  1610612746    2021-01-11    LA Clippers  0.636
20792  1610612756    2021-01-11        Phoenix  0.636
20793  1610612744    2021-01-11   Golden State  0.600
20794  1610612757    2021-01-11       Portland  0.600
20795  1610612762    2021-01-11           Utah  0.600
20796  1610612742    2021-01-11         Dallas  0.556
20797  1610612760    2021-01-11  Oklahoma City  0.556
20798  1610612743    2021-01-11         Denver  0.500
20799  1610612759    2021-01-11    San Antonio  0.500
20800  1610612758    2021-01-11     Sacramento  0.455
20801  1610612740    2021-01-11    New Orleans  0.444
20802  1610612763    2021-01-11        Memphis  0.400
20803  1610612745    2021-01-11        Houston  0.375
20804  1610612750    2021-01-11      Minnesota  0.300
21856  1610612738    2021-01-11         Boston  0.700
21857  1610612749    2021-01-11      Milwaukee  0.636
21858  1610612755    2021-01-11   Philadelphia  0.636
21859  1610612754    2021-01-11        Indiana  0.600
21860  1610612766    2021-01-11      Charlotte  0.545
21861  1610612753    2021-01-11        Orlando  0.545
21862  1610612737    2021-01-11        Atlanta  0.500
21863  1610612748    2021-01-11          Miami  0.500
21864  1610612751    2021-01-11       Brooklyn  0.455
21865  1610612739    2021-01-11      Cleveland  0.455
21866  1610612752    2021-01-11       New York  0.455
21867  1610612741    2021-01-11        Chicago  0.364
21868  1610612764    2021-01-11     Washington  0.273
21869  1610612765    2021-01-11        Detroit  0.200
21870  1610612761    2021-01-11        Toronto  0.200

In [293]:
dfgames["HOME_TEAM_WIN_PCT"] = 0
dfgames["AWAY_TEAM_WIN_PCT"] = 0

In [294]:
for index, row in dfgames.iterrows():
    dfgames.at[index,"HOME_TEAM_WIN_PCT"] = dfranking[(dfranking["TEAM_ID"] == row["HOME_TEAM_ID"]) & (dfranking["STANDINGSDATE"] == row["GAME_DATE_EST"])]["W_PCT"].iloc[0]
    dfgames.at[index,"AWAY_TEAM_WIN_PCT"] = dfranking[(dfranking["TEAM_ID"] == row["VISITOR_TEAM_ID"]) & (dfranking["STANDINGSDATE"] == row["GAME_DATE_EST"])]["W_PCT"].iloc[0]

In [295]:
dfgames.head()

,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,TEAM_ID_away,HOME_TEAM_WINS,HOME_TEAM_WIN_PCT,AWAY_TEAM_WIN_PCT
0,2022-12-22,22200477,1610612740,1610612759,2022,1610612740,1610612759,1,0.613,0.323
1,2022-12-22,22200478,1610612762,1610612764,2022,1610612762,1610612764,1,0.543,0.364
2,2022-12-21,22200466,1610612739,1610612749,2022,1610612739,1610612749,1,0.667,0.710
3,2022-12-21,22200467,1610612755,1610612765,2022,1610612755,1610612765,1,0.600,0.235
4,2022-12-21,22200468,1610612737,1610612741,2022,1610612737,1610612741,0,0.500,0.419

In [299]:
dfgames.to_csv("dfgames.csv")
dfranking.to_csv("dfranking.csv")